@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #480ca8, #4cc9f0);
}



.container {
    position: relative;
    max-width: 360px;
    width: 100%;
    height: 600px;
    margin: 8% auto;
    padding: 25px;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;


}

.container h3 {
    text-align: center;
    margin-bottom: 40px;
}

.container form {
    position: absolute;
    width: 280px;
    top: 100px;
    left: 40px;
    background: transparent;
    transition: 1s;


}

#form2 {
    left: 450px;
}

#form3 {
    left: 450px
}


form .input-field {
    position: relative;
    height: 55px;
    width: 100%;




}

#form1>.input-field,
#form2>.input-field {
    margin-bottom: 20px;
}


#form3>.field {
    margin-bottom: 20px;
}

.input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 0 15px;
    border: 1px solid #d1d1d1;
}

.invalid input {
    border-color: #d93025;
}

.input-field .show-hide {
    position: absolute;
    right: 13px;
    top: 40%;
    transform: translate(-50%);
    font-size: 18px;
    color: #919191;
    cursor: pointer;

}


.field .error {
    display: flex;
    align-items: center;
    margin-top: 6px;
    color: #d93025;
    font-size: 13px;
    display: none;
}

.invalid .error {
    display: flex;
}

.error .error-icon {
    margin-right: 6px;
    font-size: 15px;
}

.create-password .error {
    align-items: flex-start;
}


.create-password .error-icon {
    margin-top: 4px;
}



.btn-box {
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

button {
    width: 110px;
    height: 35px;
    color: #fff;
    border-radius: 50px;
    border: 0;
    outline: none;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(135deg, #480ca8, #4cc9f0);
    cursor: pointer;
    transition: backgroun 0.3s ease;
}

button:hover {
    background: #6630bdf0;
}

.step-row {
    display: flex;
    align-items: center;
    width: 360px;
    height: 40px;
    margin: -25px 0 0 -25px;
    position: relative;
    box-shadow: 0 -1px 5px -1px black;

}

.step-col {
    width: 120px;
    text-align: center;
    position: relative;
}

#progress {
    position: absolute;
    width: 120px;
    height: 100%;
    background: linear-gradient(135deg, #b8dae4, #b08ee5);
    transition: 1s;
    

}



#progress::after {
    content: ' ';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid #b08ee5;
}